@media screen and (max-width: 480px) {
  header {
    width: 100%;
    .navbar-bottom {
      width: 100%;
      display: flex;
      align-items: center;
      .navbar-toggle {
        right: 10px;
      }

      .main-nav > li {
        border-bottom: 0.5px solid;
        // float: right;
      }

      .main-nav > li > a {
        color: var(--text-color);
        font-size: 1.4rem;
        float: none;
        display: block;
        text-align: right;
      }
      .main-nav > li > i {
        display: none;
      }
    }
  }
}

:root {
  --primary-color: #7dc945;
  --text-color: #555555;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6em;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 0;
}

// Header

header {
  // width: 100%;
  height: auto;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px grey;
  z-index: 1;
}

.header-navbar {
  display: flex;
  flex-direction: column;
}

.navbar-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}
.main-nav {
  list-style-type: none;
}
.nav-links,
.logo {
  text-decoration: none;
}

.main-nav li {
  text-align: right;
}
.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  right: 116px;
  cursor: pointer;
  color: #000000;
  font-size: 24px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav li {
    margin: 0 10px;
  }

  .main-nav li a,
  .main-nav li i {
    color: var(--text-color) !important;
  }

  .logo {
    margin-top: 0;
  }
  .navbar-toggle {
    display: none;
  }

  .navbar-content-item a:hover,
  .navbar-content-item i:hover {
    color: var(--primary-color);
  }

  .logo:hover,
  .nav-links:hover {
    text-decoration: none;
  }
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
}
.sticky + .home-content {
  padding-top: 120px;
}

.nav-label {
  display: flex;
}

.navbar__menu-top {
  height: 36%;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  color: #bbbbbb;
  font-size: 1.3rem;
  line-height: 1.3rem;
}

.navbar__menu-top i {
  margin-right: 1px;
}

.navbar__menu-top a {
  border: none;
  color: #bbbbbb !important;
  border-right: 1px solid #bbbbbb;
  padding: 0 8px;
  margin: 16px 0;
}

.navbar__menu-top a:nth-child(4) {
  border-right: none;
}

.navbar__menu-bottom {
  padding: 0;
  height: 64%;
  display: flex;
  justify-content: space-between;
}

.navbar__menu-bottom-logo {
  margin-bottom: 12px;
}
.navbar-content {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-flex;
}

.navbar-content-item {
  display: flex;
  align-items: center;
  margin: 0 20px;
  color: var(--text-color);
}
.navbar-content-item:hover {
  border-bottom: 1px solid var(--primary-color);
}

.navbar-content-item:hover a {
  color: var(--primary-color);
}
.navbar-content-item:hover i {
  color: var(--primary-color);
}

.content-item-label:hover {
  text-decoration: none;
}
.content-item-label,
.content-item-icon {
  color: #687074;
  font-size: 1.5rem;
  font-weight: 700;
}

.content-item-icon {
  padding-left: 4px;
}

.btn-search {
  width: 46px;
  height: 46px;
  background-color: #f9f9f9;
  border-radius: 2px;
}

.btn-search-icon {
  font-size: 1.5rem;
  color: #b8b8b8;
}

// Content

section {
  width: 100%;
}

.owl-item {
}
.owl-carousel {
  position: relative;
}

.owl-nav.disabled {
  display: flex !important;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
}

.owl-nav button span {
  color: white;
  font-size: 5rem;
  margin: 30px;
}
.owl-nav button {
  outline: transparent !important;
}

.owl-nav button:hover {
  background-color: transparent !important;
}

.owl-carousel .owl-dots button {
  outline: transparent;
}

.owl-dots {
  position: absolute;
  top: 90%;
  left: 50%;
}
#owl-slider .item img {
  display: block;
  width: 100%;
  height: auto;
}

.carousel-img {
  position: relative;
}

.carousel-content {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 30%;
}

.carousel-content h1 {
  font-size: 5rem;
  font-weight: 500;
}

.carousel-content p {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 13px 0 0 0;
}

.btn-caroudel-read {
  background-color: transparent !important;
  border-color: #fff;
  border-radius: 0;
}

.btn-caroudel-visit {
  border-radius: 0;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-work {
  margin-top: 40px;
}

.btn-caroudel-read,
.btn-caroudel-visit {
  width: 116px;
  height: 30px;
  margin: 0 13px;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.introduction,
.introduction-members {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content-name {
  margin: 75px 0 0 0;
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 400;
  color: var(--text-color);
}

.content-introduction,
.content-introduction-members {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.introduction-item-name {
  display: inline-flex;
  align-items: center;
}

.introduction-icon {
  font-weight: 400;
  font-size: 3rem;
  color: var(--primary-color);
}
.fa-bolt,
.fa-compress-alt {
  font-weight: 900;
  font-size: 3rem;
  color: var(--primary-color);
}

.introduction-item-name h3 {
  margin: 0 0 0 20px;
  color: var(--text-color);
}

.textdecoration {
  width: 86px;
  border: 1px solid var(--text-color);
  margin: 15px 5px 0 0;
}

.home-content-description {
  margin: 25px 0 0 0;
  font-size: 1.5rem;
  text-align: center;
}

.introduction-item-description {
  margin: 25px 41px 0;
}

.introduction-item-description p {
  color: var(--text-color);
  font-size: 1.3rem;
  color: var(--text-color);
  text-align: left;
}

.introduction-item-description a {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.introduction-item-description a:hover {
  color: var(--primary-color);
}

.introduction-video,
.company-maps {
  background-color: #f7f7f7;
}

.container {
  display: flex;
  justify-content: center;
}

.container iframe {
  margin: 62px 0 92px 0;
}

.video-description {
  width: 50%;
  margin: 74px 0 0 29px;
  color: var(--text-color);
}

.video-description p {
  font-size: 1.4rem;
}

.video-description p:nth-child(3) {
  margin-top: 30px;
  padding: 0;
}

.video-description p:nth-child(4) {
  padding: 0;
  margin-bottom: 41px;
}

.btn-work-introduction button {
  font-size: 1.3rem;
  font-weight: 500;
}

.btn-work-introduction button:first-child {
  background: transparent;
  border-color: #6b6b6b;
  color: #555555;
}

.info-us h3 {
  margin-top: 20px;
}

.info-us p {
  margin-top: 8px;
}

.info-us a {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.introduction-item-img {
  width: 360px;
}

.introduction-number {
  margin-top: 78px;
  background-color: #191919;
  color: #ffffff;
}

.introduction-number-title .home-content-name,
.introduction-number-title .textdecoration {
  border-color: #ffffff;
  color: #ffffff;
}

.content-number {
  display: flex;
}

.content-number-item {
  width: 262px;
  height: 116px;
  border: 1px solid var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 42px 10px 67px;
}

.content-number-title {
  text-align: center;
  font-size: 1.5rem;
}

.content-number-title h1 {
  font-weight: 400;
}
.content-number-title span {
  font-weight: 100;
}

.awards-left,
.awards-right {
  width: 50%;
  margin: 70px 20px 0;
}

.awards-left-item {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 0 60px 0;
}

.awards-content {
  text-align: end;
}

.awards-left-item-reverse {
  flex-direction: unset;
}

.awards-content-reverse {
  text-align: start;
}

.awards-left-icon {
  width: 80px;
  height: 55px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.awards-left-icon i {
  font-size: 2rem;
  color: #ffffff;
}

.awards-content {
  margin: 0 20px 0;
  color: #82878f;
}

.awards-content h4 {
  font-weight: 400;
  margin-bottom: 10px;
}

.awards-content p {
  margin: 0;
  font-size: 1.3rem;
}

.introduction-company-partner {
  display: flex;
}

.company-partner-item {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(67, 67, 67, 0.8);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-border-bottom {
  width: 45px;
  border: 1px solid #ffffff;
  margin-top: 15px;
}

.company-description {
  font-size: 1.5rem;
  margin-top: 40px;
}

.btn-company {
  width: 80px;
  height: 25px;
  margin-top: 80px;
  left: 150px;
}
.btn-company:hover {
  outline: none;
}

.content-maps,
.maps {
  width: 50%;
  height: 100%;
}

.maps-description {
  width: 100%;
  margin: 74px 15px 0 0;
}

#map {
  height: 400px;
  width: 100%;
  margin-left: 42px;
}

#map > div {
  max-width: 100%;
  overflow: hidden;
  color: red;
  width: 500px;
  height: 100%;
}

#display-googlemap {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

#display-googlemap iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

#display-googlemap img {
  // max-height:none;
  max-width: none !important;
  background: none !important;
}

.introduction-member-img {
  margin: 0 15px;
}
.member-img {
  display: block;
}

.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  margin: 0 15px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.hvrbox img {
  max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .member-contact {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
// .hvrbox .member-contact_mobile {
// 	font-size: 15px;
// 	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
// 	border-top: 1px solid rgba(179, 179, 179, 0.7);
// 	margin-top: 5px;
// 	padding-top: 2px;
// 	display: none;
// }
// .hvrbox.active .member-contact_mobile {
// 	display: block;
// }

.introduction-end .introduction .btn-work {
  margin-bottom: 75px;
}

.social {
  background-color: rgba(0, 0, 0, 0.8);
}

.social-unify {
  display: flex;
  color: #fff;
}
.social-item {
  margin: 30px 10px 0;
  width: 262px;
}

.border-decoration {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.decoration-left {
  width: 35%;
  border: 1px solid var(--primary-color);
}

.decoration-right {
  width: 65%;
  border: 0.2px;
  border-style: dashed;
}
.year-lastest {
  border-bottom: 0.2px solid;
  margin-bottom: 10px;
}
.year-lastest p {
  margin: 0;
}
.year-lastest p:last-child {
  margin-bottom: 10px;
}

.social-latest-posts .year-lastest:last-child {
  border: none;
}

.social-useful-links ul {
  list-style: none;
  padding: 0;
}

.social-useful-links ul li a {
  text-decoration: none;
  color: #ffffff !important;
}

.social-useful-links ul li:first-child {
  padding: 0 0 10px 0;
}
.social-useful-links ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 0.2px solid;
}

.social-useful-links ul li:last-child {
  border: none;
}

footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content-left {
  display: flex;
  align-items: center;
}

.footer-content-left p {
  margin: 15px 0;
}

.footer-content-left p:nth-child(2) {
  padding-right: 10px;
  border-right: 1px solid #bbbbbb;
}

.footer-content-left p:nth-child(2),
.footer-content-left p:nth-child(3) {
  color: var(--primary-color);
  margin: 0 5px;
  font-size: 1.4rem;
}

.footer-content-right i {
  margin: 0 10px;
  font-size: 1.4rem;
}
